/* _variables.scss*/
$color-white  : #FFFFFF;
$color-contact: #222222;
$color-pink   : #FF2B4A;
$backgroundimg: "../img/background-min.png";
$scaleimg     : scale(1.2);
$rotateimg    : rotate(20deg);
