@import '_variables';
/* MEDIA QUERY NORMAL SCREEN */
@media (min-width: 64em) {
    h3 {
        font-size: 1.2vw;
    }

    p {
        font-size: 1vw;
    }

    .header {
        .header-author {
            width: 45vw;
        }

        .header-author__title {
            padding  : 2px 0 20px;
            font-size: 5.9vw;
        }

        .header-author__subtitle {
            letter-spacing: 4px;
            word-spacing  : 5px;
            font-size     : 2.25vw;
            margin-top    : 1vw;
        }
    }

    .about {
        height      : 35vw;
        width       : 75vw;
        padding     : 0 20px;
        margin-left : auto;
        margin-right: auto;
        margin-top  : 60px;

        img {
            display      : block;
            float        : left;
            padding-top  : 2vw;
            padding-right: 2vw;
            height       : 33vw;
        }

        h3 {
            padding-top: 6vw;
            margin-top : 0;
        }

        .btn-mail {
            float     : left;
            font-size : 1vw;
            margin-top: 1vw;
            width     : 7vw;
            height    : 2.4vw;
        }

        .btn-mail:hover {
            background-color: rgba(255,43,74,.7);
        }
    }

    .skills {
        height        : 35vw;
        padding-top   : 60px;
        padding-bottom: 60px;

        h2 {
            padding-top: 0;
        }

        .skills-list {
            li {
                display: inline-block;
                padding: 0 8px;
            }
        }

        .skills-list__tooltips-text {
            display: inline;
        }

        a {
            &.skills-list__tooltips {
                position: relative;
                display : inline;
            }

            &.skills-list__tooltips span {
                position     : absolute;
                width        : 110px;
                color        : #FFFFFF;
                background   : rgba(0, 0, 0, 1);
                height       : 22px;
                line-height  : 22px;
                text-align   : center;
                visibility   : hidden;
                border-radius: 3px;
                font-size    : 0.9rem;
            }

            &.skills-list__tooltips span:after {
                content      : '';
                position     : absolute;
                bottom       : 100%;
                left         : 50%;
                margin-left  : -8px;
                width        : 0;
                height       : 0;
                border-bottom: 8px solid rgba(0, 0, 0, 1);
                border-right : 8px solid transparent;
                border-left  : 8px solid transparent;
            }

            &:hover.skills-list__tooltips span {
                visibility : visible;
                opacity    : 0.7;
                top        : 22px;
                left       : 50%;
                margin-left: -55px;
                z-index    : 999;
            }
        }
    }

    .works {
        height        : 35vw;
        padding-top   : 60px;
        padding-bottom: 60px;

        .works-container {
            h2 {
                padding-top   : 0.7em;
                padding-bottom: 1.5em;
            }

            .works-container_gallery {
                width : 18vw;
                height: 10vw;

                img {
                    -webkit-transition: all 0.6s ease-in-out;
                    transition        : all 0.6s ease-in-out;
                    width             : 20vw;
                }

                &:after {
                    content           : '';
                    height            : 100%;
                    position          : absolute;
                    text-align        : center;
                    -webkit-transition: all 0.6s ease-in-out;
                    transition        : all 0.6s ease-in-out;
                    width             : 100%;
                }

                &:before {
                    content           : '';
                    height            : 100%;
                    position          : absolute;
                    text-align        : center;
                    -webkit-transition: all 0.6s ease-in-out;
                    transition        : all 0.6s ease-in-out;
                    width             : 100%;
                }
            }

            .works-container_gallery.rotate {
                &:before {
                    background              : rgba(100, 203, 192, .5);
                    top                     : 0;
                    left                    : 0;
                    -webkit-transform-origin: 0 0;
                    transform-origin        : 0 0;
                    -webkit-transform       : rotateZ(-90deg);
                    transform               : rotateZ(-90deg);
                }

                &:after {
                    content                 : "\f09b";
                    color                   : #fff;
                    font-family             : FontAwesome;
                    font-size               : 2em;
                    background              : rgba(100, 203, 192, .9);
                    top                     : 50%;
                    left                    : 50%;
                    width                   : 2em;
                    height                  : 2em;
                    margin                  : -1em 0 0 -1em;
                    line-height             : 2em;
                    -webkit-transform-origin: -4em -4em;
                    transform-origin        : -4em -4em;
                    -webkit-transform       : rotateZ(-90deg);
                    transform               : rotateZ(-90deg);
                }
            }

            .works-container_gallery.rotate.left:after,
            .works-container_gallery.rotate.left:before {
                -webkit-transform: rotateZ(90deg);
                transform        : rotateZ(90deg);
            }

            .works-container_gallery.rotate:hover:after,
            .works-container_gallery.rotate:hover:before {
                -webkit-transform: rotateZ(0);
                transform        : rotateZ(0);
            }
        }
    }

    .contact {
        padding-top: 60px;

        .contact-list {
            .contact-list__icons {
                .fa {
                    -webkit-transition: transform 0.3s ease-in-out;
                    -webkit-transition: -webkit-transform 0.3s ease-in-out;
                    transition        : -webkit-transform 0.3s ease-in-out;
                    transition        : transform 0.3s ease-in-out;
                    transition        : transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

                    &:hover {
                        color            : $color-pink;
                        -webkit-transform: $scaleimg $rotateimg;
                        -webkit-transform: $scaleimg $rotateimg;
                        transform        : $scaleimg $rotateimg;
                    }
                }

                .fa-2x {
                    font-size: 2.5em;
                }
            }

            .contact-list__footer {
                padding-top   : 2em;
                padding-bottom: 2em;
            }
        }
    }
}
