html {
    font-size: 62.5%;
}

html, body, p, th, td, li, dd, dt {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.navigation-menu {
    position: absolute;
    text-align: center;
}

.header {
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

#particles-js {
    position: relative;
    width: 100%;
}

.header-author {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 54vw;
    height: 14vw;
}

.header-title {
    border-top: 3px;
    border-bottom: 3px;
    border-style: solid none solid none;
    color: rgba(255, 255, 255, 1);
    padding: 4px 0 7px 0;
    font-size: 7.15vw;
    margin: 0;
}

.header-subtitle {
    color: rgba(255, 255, 255, 1);
    padding: 0;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2.25vw;
}

.header-subtitle .space {
    margin: 0 3px 0 0px;
}

.about {
    padding: 20px 20px 40px 20px;
}

.about p {
    text-align: justify;
}

.about img {
    display: none;
}

.btn-mail {
    float: right;
    background-color: rgba(255, 43, 74, 1);
    border: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    width: 100px;
    height: 30px;
    margin-top: 3px;
    margin-right: 20px;
    padding: 4px 8px 4px 8px;
}

.btn-mail a {
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 1);
}

.skills {
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.skills .skills-list {
    list-style: none;
    padding: 0;
}

.skills .skills-list li {
    display: inline-block;
}

.tooltip-text {
    display: none;
}

.responsive-img {
    height: 6vh;
    margin: 5px 5px 5px 5px;
}

.hidden {
    display: none;
}
