html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    max-width: 100%;
}

html, body, p, th, td, li, dd, dt {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: 900;
}

h3 {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h4 {
    font-size: 1.0em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* CUSTOM SETTING */

.title {
    border-top: 3px;
    border-bottom: 3px;
    border-style: solid none solid none;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding: 4px 0 10px 0;
    max-width: 680px;
    position: relative;
    top: 435px;
    font-size: 4.5em;
    letter-spacing: 8px;
}

.subtitle {
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 450px;
    padding: 0;
    margin-top: -10px;
    letter-spacing: 3px;
    font-weight: 400;
}

.subtitle .space {
    margin: 0 15px 0 15px;
}

.about {
    height: 660px;
}

.about img {
    float: left;
    margin-left: 215px;
    margin-right: 80px;
    margin-top: 77px;
}

.about h3 {
    margin-top: 0px;
    margin-right: 60px;
    margin-bottom: 40px;
    padding-top: 77px;
}

.about p {
    margin-right: 235px;
    text-align: justify;
}

.about .rwd-line {
    display: block;
}

.about button {
    margin-top: 50px;
    padding: 15px 70px 15px 70px;
    background-color: rgba(255, 43, 74, 1);
    border: 0;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 0.8em;
    width: 235px;
    height: 45px;
}

button:hover {
    background-color: rgba(255, 43, 74, .7);
}

.experience {
    height: 667px;
    background-color: rgba(246, 246, 246, 1);
    text-align: center;
}

.experience h2 {
    margin-top: 0px;
    padding-top: 55px;
    font-size: 2.5em;
}

.experience h3 {
    margin-top: 45px;
}

.experience img {
    margin: 0 10px 0 10px;
    -webkit-transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.experience img:hover {
    -webkit-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/* tooltips SETTTINGS */

a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips span {
    position: absolute;
    width: 110px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 1);
    height: 24px;
    line-height: 24px;
    text-align: center;
    visibility: hidden;
    border-radius: 3px;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid rgba(0, 0, 0, 1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.7;
    top: 35px;
    left: 50%;
    margin-left: -55px;
    z-index: 999;
}


/* tooltips SETTTINGS END */

.works {
    height: 793px;
    background-color: rgba(100, 203, 192, 1);
    text-align: center;
}

.works-container {
    margin-left: 40px;
    margin-right: 40px;
}

.works h2 {
    font-size: 2.5em;
    padding-top: 45px;
    margin-top: 0px;
    margin-bottom: 30px;
}


/* GALLERY SETTINGS */

.gallery {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1em solid #fff;
    background: #111;
    max-width: 100%;
    margin: 10px;
}

.gallery img {
    display: block;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    width: 20em;
}

.gallery:before, .gallery:after {
    content: '';
    height: 100%;
    position: absolute;
    text-align: center;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    width: 100%;
}

.gallery.rotate:before {
    background: rgba(100, 203, 192, .5);
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.gallery.rotate:after {
    content: "\f09b";
    color: #fff;
    font-family: FontAwesome;
    font-size: 2em;
    background: rgba(100, 203, 192, .9);
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    margin: -1em 0 0 -1em;
    line-height: 2em;
    -webkit-transform-origin: -4em -4em;
    transform-origin: -4em -4em;
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.gallery.rotate.left:before, .gallery.rotate.left:after {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.gallery.rotate:hover:before, .gallery.rotate:hover:after {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
}


/* GALLERY SETTINGS END*/

#map {
    height: 979px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    pointer-events: none;
}

.contact {
    height: 979px;
    background-image: url(./src/images/header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
}

.contact .contact-form {
    float: left;
    background-color: rgba(95, 100, 125, 0.9);
    width: 578px;
    height: 730px;
    position: relative;
    margin-top: 125px;
    margin-left: 19%;
    z-index: 2;
}

.contact .contact-list {
    float: right;
    width: 578px;
    height: 730px;
    margin-bottom: 20px;
    position: relative;
    margin-top: 125px;
    margin-right: 19%;
    z-index: 2;
}

.contact .contact-data {
    background-color: rgba(95, 100, 125, 0.9);
    margin-bottom: 20px;
    width: 578px;
    height: 355px;
}

.contact-form h2 {
    margin-top: 20px;
    margin-left: 40px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}


/* INPUT */

input {
    width: 494px;
    height: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
    border: 0;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(222, 222, 222, 1);
}

textarea {
    width: 494px;
    height: 295px;
    margin-left: 40px;
    border: 0;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(222, 222, 222, 1);
}

input[type=submit] {
    margin-top: 25px;
    margin-right: 43px;
    background-color: rgba(255, 43, 74, 1);
    border: 0;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 0.8em;
    width: 235px;
    height: 45px;
    float: right;
}

input[type=submit]:hover {
    background-color: rgba(255, 43, 74, .7);
}

input:focus, textarea:focus {
    border: 1px solid #97d6eb;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
    text-indent: 15px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 1);
    text-indent: 15px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 1);
    text-indent: 15px;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
    text-indent: 15px;
}

.contact-data {
    color: rgba(255, 255, 255, 1);
}

.contact-data h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding-top: 20px;
}

.contact-data p {
    font-style: normal;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* FOOTER */

footer {
    height: 150px;
    background-color: rgba(34, 34, 34, 1);
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

footer a {
    color: rgba(255, 255, 255, 1);
}

footer p {
    font-size: 0.9em;
}

footer .fa {
    margin: 30px 5px 10px 0;
}

footer .faborder {
    border-right: 1px solid white;
    padding-right: 10px;
}

footer .fa:hover {
    color: rgba(255, 43, 74, 1);
}
